ul ul, ul li:hover ul ul{
    display: none;
}


ul li:hover ul, ul ul li:hover ul{
    display: block;
}
ul{
    border: solid;
    border-width: 0.1em 0 0 0;
    list-style: none;
    line-height: 2em;
    width: 10em;
    padding: 0;
}

ul li{
    border: solid;
    border-width: 0 0.1em 0.1em 0.1em;
}

ul ul,ul ul ul{
    position: absolute;
    margin-top: -2.1em; 
    margin-left: 9.8em;

}